#
# Development and integration test requirements
#

invoke==0.19.0
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

sphinx==1.6.2
#-e git+git@github.com:jhermann/doc8.git@doc8-with-path#egg=doc8
sphinx-autobuild==0.6.0

#cookiecutter>=1.1
-e git+https://github.com/jhermann/cookiecutter.git@enriched-context-for-hooks#egg=cookiecutter
pytest==3.1.2
pytest-spec==1.1.0

pylint==1.7.1
bpython==0.16
yolk3k==0.9
pip-upgrader==1.4.1
