#
# Development requirements
#

pip>=18
invoke==1.2.0
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

coveralls==1.5.1
pylint==2.2.2
pytest==4.0.1
py>=1.5.2  # because of TerminalWriter
pytest-cov==2.6.0
pytest-mock==1.10.0
pytest-spec==1.1.0
tox==3.5.3

pip-upgrader==1.4.6
bpython==0.17.1
yolk3k==0.9
twine==1.12.1

# -r test-requirements.txt
-r requirements.txt
-e .
